{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
 "extends": "airbnb-base",
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-console": "off"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
