{
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-console": "off",
    "no-restricted-syntax": "off",
    "spaced-comment": "off",
    "import/order": "off",
    "sort-imports": "off",
    "no-await-in-loop": "off",
    "no-use-before-define": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "import/prefer-default-export": "off",
    "import/first": "off",
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
