{
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {"jsx": true},
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-console": "off",
    "no-restricted-syntax": "off",
    "spaced-comment": "off",
    "import/order": "off",
    "sort-imports": "off",
    "no-await-in-loop": "off",
    "no-use-before-define": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "import/prefer-default-export": "off",
    "import/first": "warn",
    "import/extensions": ["error", {"js": "always"}],
    "prettier/prettier": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["react"]
}
